os: linux

language: go

go:
  - 1.14.x

services:
  - postgresql
  - docker

script:
  # Test the code
  - go test -v ./...

env:
  global:
    - APP_DB_USERNAME=postgres
    - APP_DB_PASSWORD=postgres
    - APP_DB_NAME=postgres
